################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/BookStoreSPA/host/Crash.BookStoreSPA.Host/ClientApp/build/dist/src
/BookStoreSPA/host/Crash.BookStoreSPA.Host/ClientApp/build/dist/config
